.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 15px 30px;
}

.logo {
  color: rgb(12, 12, 12);
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: #374151;
}

.nav-link.active {
  background-color: #2563eb;
  color: white;
  font-weight: bold;
}

.logout-btn {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #dc2626;
}